.AdminDashboard >.Grid{
	/* display: flex;
    flex-direction: column;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
}

.AdminDashboard>.Grid>.nav-link{
    color:black;
    background-color:grey;
    opacity: 0.9;
    border-radius:5px;
    margin: auto auto;
    width:200px;
    height:150px;
    text-decoration:none;
}

.AdminDashboard>.Grid>.nav-link:hover{
    opacity: 1;

}
.AdminDashboard>.Grid>.nav-link>PeopleAltOutlinedIcon{
    font-size:100px;
}
.material-icons-outlined{
    font-size: 200px;
}
