.Header {
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Header > h1{
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 4px 4px 4px #aaa
}
