.Header {
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.Header > h1{
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 4px 4px 4px #aaa
}

.Header > .LoginButtons{
    position: fixed;
    right: 70px;
}
